body{
font-family:Arial, Helvetica, sans-serif ;
border: 5px rgb(0, 0, 0) ;
border-bottom-width: 3px;
border-width: 10px;
border-top-style: solid;
border: 20px rgb(0, 0, 0) solid;

}
.heading
{
    width: 80%;
    margin:auto;
    text-decoration: underline;
}

.details
{
    padding: 20px;
    font-family:'Times New Roman', Times, serif ;
    margin:auto;
}
.button1{
    color: rgb(0, 0, 0);
    border: solid;
    padding:auto;
}
.button1:hover{
    background-color: rgb(20, 243, 0);
    color: rgb(0, 0, 0);
}

.button2{
    color: rgb(0, 0, 0);
    border: solid;
    padding:auto;
}
.button2:hover{
    background-color: red;
    color: rgb(0, 0, 0);
}

.fixedButton{
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 15px;
    cursor: pointer;

}
